{% extends 'layouts/app.html' %}
{% block body %}

	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(../static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(../static/images/oscar.jpg);"></div>
							<h1><span>Oscar Miguel Tematio</span></h1>
							<h3><span>DevOps Consultant</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/OscarTematio"><i class="icon-twitter2"></i></a></li>
									<li><a href="https://www.facebook.com/profile.php?id=100010242570170"><i class="icon-facebook2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/oscar-miguel-tematio-b9a012126/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BELNpjQM%2BQlGfHBV0K825vQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile"><i class="icon-linkedin2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Oscar Miguel Tematio</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+33 758 00 52 25</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">omtematio@gmail.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">14 Rue du XXe Corps Américain, 57000 Metz, France</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>There live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in bookmarksgrove there live the blind texts far from the countries.</p>
					<p>Far far away, behind the word mountains, Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci there live the blind texts from the countries Vokalia and Consonantia, there live the blind texts. Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/OscarTematio"><i class="icon-twitter2"></i></a></li>
									<li><a href="https://www.facebook.com/profile.php?id=100010242570170"><i class="icon-facebook2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/oscar-miguel-tematio-b9a012126/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BELNpjQM%2BQlGfHBV0K825vQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile"><i class="icon-linkedin2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">DevOps Consultant</h3>
									<span class="company">ADNEOM LUXEMBOURG -  November 2019 - Current</span>
								</div>
								<div class="timeline-body">
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Intern</h3>
									<span class="company">Intech SA Luxembourg - March 2019 - August 2019</span>
								</div>
								<div class="timeline-body">
									<p>Raspberry pi Administration platform:  Automation of the launch of the Ansible Playbook on a virtualization of a Raspberry pi in order to generate an operating system for Raspberry and development of a Marketplace platform with the Flask Framework python.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Academic Project</h3>
									<span class="company">Devah Laboratory - September 2018 - february 2019</span>
								</div>
								<div class="timeline-body">
									<p>Development of a Visual perception Software for the visually impaired on behalf of the Devah Laboratory: development of a  Java Software and a SQLite DBMS </p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Academic Project</h3>
									<span class="company">Polytech Nancy - September 2017 - April 2018</span>
								</div>
								<div class="timeline-body">
									<p>National robotics cup: made 3D models of robots  for multiple simulations.</p>
								</div>
							</div>
            </li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Academic Project</h3>
									<span class="company">Polytech Nancy - September 2016 - june 2017</span>
								</div>
								<div class="timeline-body">
									<p>Smart Bin Design Project: A multi-sensor system connected to an Arduino that sends information via a GSM module to a software developed in Java for displaying data. ​</p>
								</div>
							</div>
            </li>   
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Intern</h3>
									<span class="company">GET SARL - June 2016 - july 2016</span>
								</div>
								<div class="timeline-body">
									<p>Development of Human Resource management Software  with  java and  SQL for the database creation.​</p>
								</div>
							</div>
						</li>         
						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Engineers Degree</h3>
									<span class="company">Polytech Nancy - 2019</span>
								</div>
								<div class="timeline-body">
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">Polytech Nancy - 2017</span>
								</div>
								<div class="timeline-body">
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">High School Diploma</h3>
									<span class="company">Dauphine - May 2014</span>
								</div>
								<div class="timeline-body">
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Soft Skills</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Autonomus</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Hard Work</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Astute</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Team Work</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>strict</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Respond easily</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Docker</strong></span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Ansible</strong></span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>Jenkins</strong></span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="30"><span><strong>Kubernetes</strong></span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="75"><span><strong>Python</strong></span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="45"><span><strong>Java</strong></span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="60"><span><strong>MySql</strong></span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Agile method</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Matlab</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Catia V5</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">ReactJs</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Bash</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">C/C++</span><span class="value-right"></span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Personnal Project</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://gitlab.com/Oscar_tematio/ci_cd_java_project" class="work" style="background-image: url(../static/images/jenkins1.png);">
						<div class="desc">
							<h3>Jenkins Pipeline for a maven app</h3>
							<span>Gitlab repository</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://gitlab.com/Oscar_tematio/ci_cd_flask_app" class="work" style="background-image: url(../static/images/jenkins1.png);">
						<div class="desc">
							<h3>CI CD process for flask app</h3>
							<span>Gitlab Repository</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Languages</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#fh5co-blog" class="blog-bg" style="background-image: url(../static/images/1200px-Flag_of_France.svg.png);"></a>
							<div class="blog-text">
								<span class="posted_on">French</span>
								<p>Mother Tongue</p>
							</div> 
						</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#fh5co-blog" class="blog-bg" style="background-image: url(../static/images/1280px-Flag_of_the_United_Kingdom.svg.png);"></a>
						<div class="blog-text">
							<span class="posted_on">English</span>
							<p>Toeic Score: 830 from july 2019</p>
							<p>certified Upper Intermediate by VLC in douala Cameroun - march 2016</p>
						</div> 
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id="fh5co-blog">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Hobbies</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
							<div class="fh5co-blog animate-box">
								<a href="#fh5co-blog" class="blog-bg" style="background-image: url(../static/images/755957ca0e8d95bb1d4e9ac2c8083de9.png);"></a>
								<div class="blog-text">
									<span class="posted_on">Football</span>
									
								</div> 
							</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#fh5co-blog" class="blog-bg" style="background-image: url(../static/images/books.jpg);"></a>
							<div class="blog-text">
								<span class="posted_on">Readings</span>
							</div> 
						</div>
					</div>
					<div class="col-md-4">
							<div class="fh5co-blog animate-box">
								<a href="#fh5co-blog" class="blog-bg" style="background-image: url(../static/images/1200px-Treble_a.svg.png);"></a>
								<div class="blog-text">
									<span class="posted_on">Music</span>
									
								</div> 
							</div>
						</div>					
					
				</div>
			</div>
		</div>
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Contact Me!</h2>
					<p>Fill the form below to contact me.</p>
					<p><a href="#fh5co-consult" class="btn btn-default btn-lg">Contact Me</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(../static/images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="" method="POST">
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="fname" name="fname" class="form-control" placeholder="Your firstname" value="{{request.form.fname}}">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="lname" name="lname" class="form-control" placeholder="Your lastname"value="{{request.form.lname}}">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="email" id="email"name="email" class="form-control" placeholder="Your email address" value="{{request.form.email}}">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="num"name="num" class="form-control" placeholder="Your Phone Number" value="{{request.form.num}}">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="subject" name="subject" class="form-control" placeholder="Your subject of this message" value="{{request.form.subject}}">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" name="message" cols="30" rows="10" class="form-control" placeholder="Say something about us" value="{{request.form.message}}"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Send Message</button>
				</div>

			</form>	
		</div>
	</div>

	<div id="map" class="fh5co-map"></div>
	</div>
	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Oscar Tematio <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	


	



{% endblock %}  